@import './variables';

$animation-cover-delay: 0.1s;
$animation-cover-duration: 2.5s;

$animation-title-delay: $animation-cover-delay + $animation-cover-duration - 1s;
$animation-title-duration: $animation-cover-duration / 2;

$animation-debut-delay: $animation-title-delay + $animation-title-duration;
$animation-debut-duration: $animation-cover-duration / 2;

$animation-band-delay: $animation-debut-delay + .5s;
$animation-band-duration: $animation-cover-duration / 2;

$animation-artist-delay: $animation-band-delay + $animation-band-duration /  2;
$animation-artist-duration: $animation-cover-duration / 2;

$animation-else-delay: $animation-band-delay + $animation-band-duration + .5;
$animation-else-duration: $animation-cover-duration * 2/3;

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.container {
  padding: 0 2rem;
  color: white;
  position: relative;
}

.bgWrap {
  width: 100%;
  opacity: 0;
  display: block;
  animation: fadeIn forwards $animation-cover-duration ease-in;
  animation-delay: $animation-cover-delay;
  max-width: 800px;
  position: relative;
  
  @media (min-width: $breakpoint-desktop) { 
    width: 700px;
  }

}

.section {
  margin-bottom: 3rem;
}

 
.show--else {
  opacity: 0;
  animation: fadeIn forwards $animation-else-duration ease-in;
  animation-delay: $animation-else-delay;
}


.main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

.countdown {
  transform: translateY(-50%);
  
  .countdown__days {
    margin-top: 40px;
  }
  span {
    font-size: 64px;
  }
}

.title {
  margin-bottom: 3rem;
  opacity: 0;
  animation: fadeIn forwards $animation-title-duration ease-in;
  animation-delay: $animation-title-delay;

  &::before {
    content:'['
  }
  &::after {
    content:']'
  }
}

.debut {
  opacity: 0;
  animation: fadeIn forwards $animation-debut-duration ease-in;
  animation-delay: $animation-debut-delay;
}

.band {
  opacity: 0;
  margin-bottom: 0.5rem;
  animation: fadeIn forwards $animation-band-duration ease-in;
  animation-delay: $animation-band-delay;
}

.artists {
  opacity: 0;
  animation: fadeIn forwards $animation-artist-duration ease-in;
  animation-delay: $animation-artist-delay;
  
  .artist {
    display: inline-block;
    font-size: 1rem;
    margin: .3rem;
  
  }
}

.stream-buy-section {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-around;
}

.service-list {
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    
    
    li {
      margin-bottom: 1rem;
    }
  }

  .service-list__icon {
    height: 1.5rem;
  }
  
  margin-bottom: 2rem;
}

.social {
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    
  }
  
  li {
    display: inline-block;
    padding: 1em 1rem 0 1rem;
  }
}
