@import './variables';

.container {
  padding: 0 2rem;
  color: white;
  position: relative;


  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
}

.bgWrap {
  width: 100%;
  display: block;
  animation: fadeIn 5s;
  max-width: 800px;
  position: relative;
  
  @media (min-width: $breakpoint-desktop) { 
    height: 50vh;
  }

}

.section {
  margin-bottom: 3rem;
}


.main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

.countdown {
  transform: translateY(-50%);
  
  .countdown__days {
    margin-top: 40px;
  }
  span {
    font-size: 64px;
  }
}

.title {
  margin-bottom: 3rem;

  &::before {
    content:'['
  }
  &::after {
    content:']'
  }
}

.band {
  margin-bottom: 0.5rem;
}

.artists {
  .artist {
    display: inline-block;
    font-size: 1rem;
    margin: .3rem;
  
  }
}

.stream-buy-section {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-around;
}

.service-list {
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    
    
    li {
      margin-bottom: 1rem;
    }
  }

  .service-list__icon {
    height: 1.5rem;
  }
  
  margin-bottom: 2rem;
}

.social {
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    
  }
  
  li {
    display: inline-block;
    padding: 1em 1rem 0 1rem;
  }
}
